<html>
   <head>
      <title>VueJs-Day2-3</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css">
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <style>
          .errorClass{
              border-color: red
          }
      </style>
   </head>
   <body>
      <div id = "app">
        <h1 class="text-center">VueJs-Day2-3</h1>
        
        <div class="container">
            <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-3"><a class="btn btn-primary pull-right" href="index.html">Home</a></div>
            </div>           
            <div class="row">
                <div class="col-md-3">
                    <label class="control-lable"> bind Link <br> [a,:href] </label>                    
                </div>
                <div class="col-md-3">
                    <a :href="g_link" target="_blank">Google</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="control-lable">Image binding and Hide/Show <br> [img,v-if,v-show,@click] </label>                   
                </div>
                <div class="col-md-3">                    
                    <img :src="image_link" v-if="img_show">
                </div>
                <div class="col-md-3">
                    <button @click="img_show = !img_show">{{ img_show? 'Hide Image' : 'Show Image' }}</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="control-lable">list <br>[v-for,v-text] </label>                   
                </div>
                <div class="col-md-3">
                    <ul>
                        <li v-for="product in products" v-text="product.name">  </li>
                    </ul>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-3">
                    <label class="control-lable">Input <br>[v-model] </label>                   
                </div>
                <div class="col-md-3">
                    <input type="text" v-model="input_text" class="form-control">
                </div>
                <div class="col-md-3">
                    {{input_text}}
                </div>
            </div> 
            <div class="row">
                <div class="col-md-3">
                    <label class="control-lable">Input <br>[v-text,v-html] </label>                   
                </div>
                <div class="col-md-3">
                    <textarea type="text" v-model="input_text1" v-text="input_text1" class="form-control"></textarea>
                </div>
                <div class="col-md-3">
                    {{input_text1}} <br>
                    <span v-html="input_text1"></span>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-3">
                    <label class="control-lable">Radio button </label>                   
                </div>
                <div class="col-md-3">
                    <input type="radio" name="gender" v-model="gender" value="Male" > Male
                    <input type="radio" name="gender" v-model="gender" value="Female" > Female
                </div>
                <div class="col-md-3">
                    {{gender}} 
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-3">
                    <label class="control-lable"> <b>Practice Example</b> </label>                   
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="control-lable"> List <br>[v-if,v-model,v-for,show/hide] </label>                   
                </div>
                <div class="col-md-3" >
                    <div v-if="show_ch_list">
                        <div v-for="prod in products" :key="prod.id">
                            <input type="checkbox" :id="prod.id" v-model="prod_arr" :value="prod.name">
                            <label :for="prod.id">{{ prod.name }}</label>
                        </div> 
                    </div>        
                </div>
                <div class="col-md-6" >
                    <div v-if="show_li_list">
                        <ul>
                            <li>Seleted List</li>
                            <li v-for="prod_arr in prod_arr">{{prod_arr}}</li>
                        </ul>
                    </div>                                        
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <button @click="show_ch_list = !show_ch_list">{{ show_ch_list ? 'Hide ch List' : 'Show ch List'}}</button>
                    <button @click="show_li_list = !show_li_list">{{ show_li_list ? 'Hide Li List' : 'Show Li List'}}</button>                                      
                </div>
            </div> 
            <br><br>
            <div class="row">
                <div class="col-md-3">
                    <label class="control-lable">style <br>[dynamic style change]</label>                   
                </div>
                <div class="col-md-3" id="colorDiv">
                                    
                </div>
                <div class="col-md-3">
                    <button @click="changeColor('green')" id="btn_green">Green</button>
                    <button @click="changeColor('red')" id="btn_red">Red</button>
                    <button @click="changeColor('yellow')" id="btn_yellow">Yellow</button>
                </div>
            </div>
            <br>    <br>
            <div class="row">
                <div class="col-md-3">
                    <label class="control-lable">Class <br> [check empty]</label>                   
                </div>
                <div class="col-md-3" >
                    <input id="checkInput" type="text" :class="hasError ? errorClass:'form-control'" >      
                </div>
                <div class="col-md-3">
                    <button @click="checkInput()">Check</button>                    
                </div>
            </div>
            <br>    <br>    <br>    <br>    <br>       
         </div>   
      </div>
      <script type = "text/javascript">
         var vue_det = new Vue({
            el: '#app',
            data: {
               message: 'test message',
               g_link: "https://www.google.com/",
               image_link:"https://dummyimage.com/200x200/000/fff" ,
               img_show:true,
               products : [
                   {id:1, name:"prod 1"},
                   {id:2, name:"prod 2"},
                   {id:3, name:"prod 3"},
                   {id:4, name:"prod 4"}
               ],
               input_text:'This is text input',
               input_text1:"<b>This is textarea input</b>",
               prod_arr:[],
               show_li_list:true,
               show_ch_list:true,
               gender:'Female',
               hasError:true,
               errorClass : 'errorClass form-control'
                             
            },
            methods :{
                changeColor : function (color){
                        document.getElementById('colorDiv').style = "background-color:"+color;
                        document.getElementById('btn_'+color).style = "background-color:"+color;                        
                },
                checkInput :function(){
                    var val = document.getElementById('checkInput').value;
                    if(val.length == 0){
                        hasError = true;
                        document.getElementById('checkInput').className  = 'errorClass form-control';
                    }else{
                        hasError = false;
                        document.getElementById('checkInput').className  = 'form-control';
                    }
                }
            } 
         });
      </script>
   </body>
</html>
